@import 'bootstrap';

body {
    text-align: center
}

//.................................................................... HEADER
.nav {
    display: flex;
    justify-content: space-around;
    position: sticky;
    width: 100%;
    padding: 5px;
}

#header {
    background-color: aquamarine;
}

a {
   color: black;
}

a:hover {
    color: white;
 }


//.................................................................... FOOTER

#footer {
    bottom: 0;
    position: fixed;
}
